@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

.App {
  
  display: flex;
  justify-content: flex-end;
}

.title {
  font-family: cedarville cursive;
  font-size: 50px;

}

img {
  border-radius: 50%;
  width: 60%;
  height: 60%;



}

.factItem {
  font-family: cedarville cursive;



}
